{% extends 'sitehome/index.html' %}

{% load static %}

{% block title %}
<title>About Us – Blockstream</title>
{% endblock %}

{% block main %}
<!-- page title -->
<section class="section section--first">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <h1 class="section__title section__title--page">About Us</h1>
                <p class="section__text">For half a decade, we’ve
                    been empowering clients by helping them take control of their financial lives.</p>
            </div>
            <!-- end section title -->
        </div>
    </div>

    <!-- particles -->
    <div id="canvas" class="section__particles"></div>
    <!-- end particles -->
</section>
<!-- end page title -->

<!-- about -->
<section class="section section--border-bottom">
    <div class="container">
        <div class="row row--grid">
            <!-- section title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-10 offset-xl-1">
                <h2 class="section__title">Work with us the way you want.</h2>
                <p class="section__text">Some believe you must choose between an online broker and a wealth
                    management firm. At <b>Blockstream</b>, you don’t need to compromise. Whether you
                invest on your own, with an advisor, or a little of both — we can support you.</p>
            </div>
            <!-- end section title -->

            <div class="col-12 col-lg-4">
                <!-- feature -->
                <div class="feature">
                    <i class="ti-thought"></i>
                    <h3 class="feature__title">Experience</h3>
                    <p class="feature__text">A wide selection of investment product to help build
                        diversified portfolio</p>
                </div>
                <!-- end feature -->
            </div>

            <div class="col-12 col-lg-4">
                <!-- feature -->
                <div class="feature">
                    <i class="ti-reload"></i>
                    <h3 class="feature__title">Trading</h3>
                    <p class="feature__text">Powerful trading tools, resources, insight and support</p>
                </div>
                <!-- end feature -->
            </div>

            <div class="col-12 col-lg-4">
                <!-- feature -->
                <div class="feature">
                    <i class="ti-pie-chart"></i>
                    <h3 class="feature__title">Wealth management</h3>
                    <p class="feature__text">Dedicated financial consultant to help reach your own specific goals</p>
                </div>
                <!-- end feature -->
            </div>

            <div class="col-12 col-lg-4">
                <!-- feature -->
                <div class="feature">
                    <i class="ti-bar-chart"></i>
                    <h3 class="feature__title">Investment advisory</h3>
                    <p class="feature__text">A wide selection of investing strategies from seasoned portfolio
                        managers</p>
                </div>
                <!-- end feature -->
            </div>

            <div class="col-12 col-lg-4">
                <!-- feature -->
                <div class="feature">
                    <i class="ti-briefcase"></i>
                    <h3 class="feature__title">Smart portfolio</h3>
                    <p class="feature__text">A revolutionary, fully-automated investmend advisory services</p>
                </div>
                <!-- end feature -->
            </div>

            <div class="col-12 col-lg-4">
                <!-- feature -->
                <div class="feature">
                    <i class="ti-info-alt"></i>
                    <h3 class="feature__title">Mutual fund advisor</h3>
                    <p class="feature__text">Specialized guidance from independent local advisor for
                        hight-net-worth investors</p>
                </div>
                <!-- end feature -->
            </div>

            <div class="col-12">
                <a href="{% url 'UserAccount:register' %}" class="btn btn--center btn--section btn--shadow">join the journey</a>
            </div>
        </div>
    </div>
</section>
<!-- end about -->

<!-- testimonials -->
<section class="section section--blue">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <h2 class="section__title">Client Testimonials</h2>
                <p class="section__text">What 100% real people say about us</p>
            </div>
            <!-- end section title -->
        </div>
    </div>

    <!-- testimonials slider -->
    <div class="owl-carousel testimonial-slider testimonial-slider--blue">
        <div class="testimonial">
            <div class="testimonial__text">
                <p>Blockstream trades with confidence and benefit from the reliability of their brokers with a proven
                    record of stability, security and strength.</p>
            </div>

            <div class="testimonial__client">
                <img src="{% static 'sitehome/img/users/user1.jpg' %}" alt="">
                <p>Gene Graham</p>
                <span>New York, USA</span>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial__text">
                <p>Blockstream runs a quick and reliable system. It feels great to know that I can always
                    trust their support system to come through for me. Their response speed is prompt and the delivery
                    precise to the last detail.</p>
            </div>

            <div class="testimonial__client">
                <img src="{% static 'sitehome/img/users/user2.jpg' %}" alt="">
                <p>Rosa Lee</p>
                <span>Paris, France</span>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial__text">
                <p>Am an engineer Vietnam when an account manager  brought this opportunity to me
                    I just said casually to invest with $500 but my story today is on a premium plan.</p>
            </div>

            <div class="testimonial__client">
                <img src="{% static 'sitehome/img/users/user3.jpg' %}" alt="">
                <p>Tess Harper</p>
                <span>Ha Noi, Vietnam</span>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial__text">
                <p>I have only been a member for a few months and i have already earned a decent amount of money.
                    Finally a real and honest company that does what it says. Thank you so much for this great
                    opportunity!</p>
            </div>

            <div class="testimonial__client">
                <img src="{% static 'sitehome/img/users/user4.jpg' %}" alt="">
                <p>Brian Cranston</p>
                <span>Washington, USA</span>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial__text">
                <p>It's really been a fruitful association since I invested and now, I am really glad I took the
                opportunity</p>
            </div>

            <div class="testimonial__client">
                <img src="{% static 'sitehome/img/users/user5.jpg' %}" alt="">
                <p>Matt Jones</p>
                <span>Sydney, Australia</span>
            </div>
        </div>
    </div>
    <!-- end testimonials slider -->
</section>
<!-- end testimonials -->
{% endblock %}