{% extends 'sitehome/index.html' %}

{% load static %}

{% block title %}
<title>About Us – Blockstream</title>
{% endblock %}

{% block main %}
<!-- page title -->
<section class="section section--first">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <h1 class="section__title section__title--page">About Us</h1>
                <p class="section__text">Various versions have evolved over the years, <b>sometimes</b> by accident,
                    sometimes on purpose.</p>
            </div>
            <!-- end section title -->
        </div>
    </div>

    <!-- particles -->
    <div id="canvas" class="section__particles"></div>
    <!-- end particles -->
</section>
<!-- end page title -->

<!-- about -->
<section class="section section--border-bottom">
    <div class="container">
        <div class="row row--grid">
            <div class="col-12 col-lg-4">
                <!-- feature -->
                <div class="feature">
                    <i class="ti-bar-chart"></i>
                    <h3 class="feature__title">Our Mission</h3>
                    <p class="feature__text">Our primary focus is to offer cost effective solutions to cryptocurrency
                        hobbyists and professionals. We have the conviction our enterprise can follow you in the
                        adventure or cryptocurrency.</p>
                </div>
                <!-- end feature -->
            </div>

            <div class="col-12 col-lg-4">
                <!-- feature -->
                <div class="feature">
                    <i class="ti-headphone-alt"></i>
                    <h3 class="feature__title">Our Offer</h3>
                    <p class="feature__text">Located in LA, USA, the Cloud Mining farm is accessible to members 24/7 and
                        they have access to a multi language technical support, which is an exclusivity in the
                        industry.</p>
                </div>
                <!-- end feature -->
            </div>

            <div class="col-12 col-lg-4">
                <!-- feature -->
                <div class="feature">
                    <i class="ti-world"></i>
                    <h3 class="feature__title">For Who?</h3>
                    <p class="feature__text">The Smart Mine system is ideal for beginners. Our system also offers
                        solutions for experts and large-scale entrepreneurs from one unit farm to multiple tier-1 home
                        dedicated mining farm.</p>
                </div>
                <!-- end feature -->
            </div>

            <div class="col-12">
                <a href="#" class="btn btn--center btn--section btn--shadow">get started</a>
            </div>
        </div>
    </div>
</section>
<!-- end about -->

<!-- testimonials -->
<section class="section section--blue">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <h2 class="section__title">Client Testimonials</h2>
                <p class="section__text">What 100% real people say about us</p>
            </div>
            <!-- end section title -->
        </div>
    </div>

    <!-- testimonials slider -->
    <div class="owl-carousel testimonial-slider testimonial-slider--blue">
        <div class="testimonial">
            <div class="testimonial__text">
                <p>«It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
                    to generate Lorem Ipsum which looks reasonable.»</p>
            </div>

            <div class="testimonial__client">
                <img src="{% static 'sitehome/img/users/user1.jpg' %}" alt="">
                <p>Gene Graham</p>
                <span>New York, USA</span>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial__text">
                <p>«There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable.»</p>
            </div>

            <div class="testimonial__client">
                <img src="{% static 'sitehome/img/users/user2.jpg' %}" alt="">
                <p>Rosa Lee</p>
                <span>Paris, France</span>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial__text">
                <p>«All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
                    this the first true generator on the Internet.»</p>
            </div>

            <div class="testimonial__client">
                <img src="{% static 'sitehome/img/users/user3.jpg' %}" alt="">
                <p>Tess Harper</p>
                <span>Ha Noi, Vietnam</span>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial__text">
                <p>«If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                    embarrassing hidden in the middle of text.»</p>
            </div>

            <div class="testimonial__client">
                <img src="{% static 'sitehome/img/users/user4.jpg' %}" alt="">
                <p>Brian Cranston</p>
                <span>Washington, USA</span>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial__text">
                <p>«There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable.»</p>
            </div>

            <div class="testimonial__client">
                <img src="{% static 'sitehome/img/users/user5.jpg' %}" alt="">
                <p>Matt Jones</p>
                <span>Sydney, Australia</span>
            </div>
        </div>
    </div>
    <!-- end testimonials slider -->
</section>
<!-- end testimonials -->
{% endblock %}