{% extends 'sitehome/index.html' %}

{% block title %}
<title>FAQs – Blockstream</title>
{% endblock %}

{% block main %}
<!-- page title -->
<section class="section section--first">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <h1 class="section__title section__title--page">FAQ</h1>
                <p class="section__text">Find answers to all your questions here</p>
            </div>
            <!-- end section title -->
        </div>
    </div>

    <!-- particles -->
    <div id="canvas" class="section__particles"></div>
    <!-- end particles -->
</section>
<!-- end page title -->

<!-- faq -->
<section class="section section--border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="faq">
                    <h3 class="faq__title">How can I purchase a package?</h3>
                    <p class="faq__text">Buying package is very simple. Just sign up and login in it will open your
                        dashboard where you will find option of <b>INVEST</b>. Click on this option and you’ll find
                        all packages. You can click on buy button there, make payment and you’re good to go.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">How much I can earn?</h3>
                    <p class="faq__text">You can earn total 300% of your investment for the maximum plan. After
                        completion of 300%, your package will get expired. To continue to earn, you need to invest
                        again..</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">How do I withdraw my earnings?</h3>
                    <p class="faq__text">Request a withdrawal from your dashboard after login; make sure you have a
                        valid Crypto Wallet Address.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">Who are the owners of Blockstream?</h3>
                    <p class="faq__text">Blockstream are owned by a group of investors who aims at expanding the
                    crypto world to a larger audience.</p>
                </div>

            </div>

            <div class="col-12 col-md-6">
                <div class="faq">
                    <h3 class="faq__title">How does the platform generates profit?</h3>
                    <p class="faq__text">Blockstream generates profit by trading in Top10 crypto
                        currencies. It’s AI trading bot generates profit via arbitrage trading.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">How to upgrade package?</h3>
                    <p class="faq__text">Make deposit and request for an upgrade by mailing
                        blockstreamcrypto0906@gmail.com with the details and screenshot of your current package</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">Status of my withdrawal</h3>
                    <p class="faq__text">Once OTP for the specified withdrawal is confirmed, withdrawal payment would
                        be made within the space of 3-4 days.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">I sent the wrong amount when purchasing my package?</h3>
                    <p class="faq__text">If you sent the wrong amount when purchasing your package your account will
                        not be activated automatically. Contact our support department on
                        blockstreamcrypto0906@gmail.com and include a screenshot of your payment,
                        Transaction ID, Username and the package you wanted to purchase.</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- end faq -->

{% endblock %}