{% extends 'sitehome/index.html' %}

{% block title %}
<title>FAQs – Blockstream</title>
{% endblock %}

{% block main %}
<!-- page title -->
<section class="section section--first">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <h1 class="section__title section__title--page">FAQ</h1>
                <p class="section__text">Find answers to all your questions here</p>
            </div>
            <!-- end section title -->
        </div>
    </div>

    <!-- particles -->
    <div id="canvas" class="section__particles"></div>
    <!-- end particles -->
</section>
<!-- end page title -->

<!-- faq -->
<section class="section section--border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="faq">
                    <h3 class="faq__title">How to start as a seller?</h3>
                    <p class="faq__text">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                        as necessary, making this the first true generator on the Internet.</p>
                    <p class="faq__text">Various versions have evolved over the years, sometimes by accident, sometimes
                        on purpose (injected humour and the like).</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">When and how do you get paid?</h3>
                    <p class="faq__text">Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">How much can you earn?</h3>
                    <p class="faq__text">Various versions have evolved over the years, sometimes by accident, sometimes
                        on purpose (injected humour and the like).</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">What is the service fee for sellers?</h3>
                    <p class="faq__text">There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form, by injected humour, or randomised words which
                        don't look even slightly believable.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">What is the PPS reward system?</h3>
                    <p class="faq__text">If you are going to use a passage of Lorem Ipsum, you need to be sure there
                        isn't anything embarrassing hidden in the middle of text.</p>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="faq">
                    <h3 class="faq__title">Which Stratum servers are available?</h3>
                    <p class="faq__text">The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">Where can you see your mining status?</h3>
                    <p class="faq__text">It uses a dictionary of over 200 Latin words, combined with a handful of model
                        sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum
                        is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">Why are you getting rejected shares?</h3>
                    <p class="faq__text">It was popularised in the 1960s with the release of Letraset sheets containing
                        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                        including versions of Lorem Ipsum.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">What happens when there are no orders?</h3>
                    <p class="faq__text">Various versions have evolved over the years, sometimes by accident, sometimes
                        on purpose (injected humour and the like).</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">Which miners are supported?</h3>
                    <p class="faq__text">The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end faq -->

<!-- get started -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <!-- review -->
                <div class="review">
                    <blockquote class="review__blockquote">«I love the simple, minimal design, lots of white, not an
                        overwhelming amount of features. Compared to some other alternatives I have tried, it was easy
                        to sign up, bug-free, and easy to use so far.»
                    </blockquote>
                    <span class="review__autor">
							John Doe
							<span>Entrepreneur</span>
						</span>
                </div>
                <!-- end review -->
            </div>

            <div class="col-12 col-lg-6">
                <!-- get started -->
                <div class="get-started">
                    <h3 class="get-started__title">Create Account</h3>
                    <p class="get-started__text">All the Lorem Ipsum generators on the Internet tend to repeat
                        predefined chunks as necessary.</p>
                    <a href="#" class="btn">get started</a>
                </div>
                <!-- end get started -->
            </div>
        </div>
    </div>
</section>
<!-- end get started -->

<!-- partners -->
<div class="partners section--border-top section--border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- partners slider -->
                <div class="owl-carousel partners__slider">
                    <!-- slider item -->
                    <div class="item">
                        <a href="#">
                            <img src="img/partners/activeden-light-background.png" alt="">
                        </a>
                    </div>
                    <!-- end slider item -->

                    <!-- slider item -->
                    <div class="item">
                        <a href="#">
                            <img src="img/partners/audiojungle-light-background.png" alt="">
                        </a>
                    </div>
                    <!-- end slider item -->

                    <!-- slider item -->
                    <div class="item">
                        <a href="#">
                            <img src="img/partners/codecanyon-light-background.png" alt="">
                        </a>
                    </div>
                    <!-- end slider item -->

                    <!-- slider item -->
                    <div class="item">
                        <a href="#">
                            <img src="img/partners/photodune-light-background.png" alt="">
                        </a>
                    </div>
                    <!-- end slider item -->

                    <!-- slider item -->
                    <div class="item">
                        <a href="#">
                            <img src="img/partners/themeforest-light-background.png" alt="">
                        </a>
                    </div>
                    <!-- end slider item -->

                    <!-- slider item -->
                    <div class="item">
                        <a href="#">
                            <img src="img/partners/videohive-light-background.png" alt="">
                        </a>
                    </div>
                    <!-- end slider item -->

                    <!-- slider item -->
                    <div class="item">
                        <a href="#">
                            <img src="img/partners/3docean-light-background.png" alt="">
                        </a>
                    </div>
                    <!-- end slider item -->
                </div>
                <!-- end partners slider -->
            </div>
        </div>
    </div>
</div>
<!-- end partners -->
{% endblock %}