{% extends 'sitehome/index.html' %}

{% block title %}
<title>Home – Blockstream</title>
{% endblock %}

{% block main %}
<!-- home -->
<section class="home home--circle">
    <!-- particles -->
    <div id="canvas" class="home__particles"></div>
    <!-- end particles -->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-5 offset-xl-0">
                <div class="home__content">
                    <h1 class="home__title">Trade Shares and Forex with Financial Thinking</h1>
                    <p class="home__text">Access 40,000+ instruments – across asset classes – to trade,
                        hedge and invest from a single account.</p>
                    <a href="{% url 'UserAccount:register' %}" class="btn btn--shadow">get started</a>
                </div>
            </div>

            <div class="col-xl-5 offset-xl-1">
                <div class="home__content home__content--desk">
                    <div class="servers">
                        <div class="servers__title">Server status</div>
                        <div class="servers__item servers__item--green" title="Online">
                            Europe - Amsterdam
                        </div>
                        <div class="servers__item servers__item--green" title="Online">
                            China - Hong Kong
                        </div>
                        <div class="servers__item servers__item--yellow" title="Unstable">
                            India - Chennai
                        </div>
                        <div class="servers__item servers__item--green" title="Online">
                            USA - San Jose
                        </div>
                        <div class="servers__item servers__item--green" title="Online">
                            Japan - Tokyo
                        </div>
                        <div class="servers__item servers__item--red" title="Offlane">
                            Brazil - Sao Paulo
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->

<!-- services -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <h2 class="section__title">Industry-leading prices</h2>
                <p class="section__text">Get ultra-competitive spreads and commissions across all asset classes.
                    Receive even better rates as your volume increases.</p>
            </div>
            <!-- end section title -->
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-xl-3">
                <!-- service -->
                <div class="service">
                    <i class="ti-medall"></i>
                    <h3 class="service__title">Best reputation</h3>
                    <p class="service__text">Licensed and regulated across multiple jurisdictions, we serve clients
                        in over 150 countries worldwide.</p>
                </div>
                <!-- end service -->
            </div>

            <div class="col-12 col-md-6 col-xl-3">
                <!-- service -->
                <div class="service">
                    <i class="ti-settings"></i>
                    <h3 class="service__title">Advanced tools</h3>
                    <p class="service__text">Once you have selected your package you will receive an instant
                        invitation to join the group chat. You will see around 10 signals per day with live updates.</p>
                </div>
                <!-- end service -->
            </div>

            <div class="col-12 col-md-6 col-xl-3">
                <!-- service -->
                <div class="service">
                    <i class="ti-user"></i>
                    <h3 class="service__title">1,000+ clients</h3>
                    <p class="service__text">The internet has taken the world by a storm in a positively unimaginable
                        way. The business world is completely toppled by having all the resources it requires for the
                        successful initiation of an enterprise.</p>
                </div>
                <!-- end service -->
            </div>

            <div class="col-12 col-md-6 col-xl-3">
                <!-- service -->
                <div class="service">
                    <i class="ti-world"></i>
                    <h3 class="service__title">Worldwide office</h3>
                    <p class="service__text">Knowing well that we are opened to investors we have added a multi
                        currency support system for investors far and wide.</p>
                </div>
                <!-- end service -->
            </div>
        </div>
    </div>
</section>
<!-- end services -->

<!-- popular -->
<section class="section section--border-top">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <h2 class="section__title">Join a club of more than 480,000 traders</h2>
                <p class="section__text">
                    <a href="{% url 'UserAccount:register' %}"
                       class="button is-primary is-small is-round mx-3">
                        Join us
                    </a>
                    With the little you have you Trend. Join now!
                </p>
            </div>
            <!-- end section title -->
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="popular">
                    <span class="popular__name popular__name--up">Bitcoin</span>
                    <span class="popular__price">$8861.14 (+1.3%)</span>
                    <span class="popular__cap">Cap.: $14562176.32</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="popular">
                    <span class="popular__name popular__name--up">Ethereum</span>
                    <span class="popular__price">$240.57 (+4.1%)</span>
                    <span class="popular__cap">Cap.: $71497612.98</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="popular">
                    <span class="popular__name popular__name--down">Startcoin</span>
                    <span class="popular__price">$161.54 (-0.7%)</span>
                    <span class="popular__cap">Cap.: $14562176.32</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="popular">
                    <span class="popular__name popular__name--up">Litecoin</span>
                    <span class="popular__price">$58.86 (+2.1%)</span>
                    <span class="popular__cap">Cap.: $23562176.24</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="popular">
                    <span class="popular__name popular__name--down">Dash</span>
                    <span class="popular__price">$187.54 (-3.2%)</span>
                    <span class="popular__cap">Cap.: $11562174.12</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="popular">
                    <span class="popular__name popular__name--down">Monero</span>
                    <span class="popular__price">$89.51 (-0.9%)</span>
                    <span class="popular__cap">Cap.: $10367876.71</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="popular">
                    <span class="popular__name popular__name--up">Infinitecoin</span>
                    <span class="popular__price">134.93 (+5.1%)</span>
                    <span class="popular__cap">Cap.: $13596476.63</span>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="popular">
                    <span class="popular__name popular__name--up">PrimeCoin</span>
                    <span class="popular__price">$92.13 (+4.7%)</span>
                    <span class="popular__cap">Cap.: $10062176.54</span>
                </div>
            </div>

            <div class="col-12">
                <a href="{% url 'UserAccount:register' %}" class="btn btn--center btn--section btn--shadow">get started</a>
            </div>
        </div>
    </div>
</section>
<!-- end popular -->


<!-- pricing -->
<section class="section section--blue">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <h2 class="section__title">Pricing</h2>
                <p class="section__text">Inform your decisions with timely dispatches from our large team of global analysts.</p>
            </div>
            <!-- end section title -->
        </div>

        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1 col-xl-12 offset-xl-0">
                <div class="price-wrap">
                    <!-- price -->
                    <div class="price">
                        <h3 class="price__title">Basic Plan</h3>
                        <div class="price__list">
                            <li><b>Minimum Deposit:</b>$500</li>
                            <li><b>Maximum Deposit:</b>$999</li>
                            <li><b>Duration:</b>2 Weeks</li>
                        </div>
                        <span class="price__value">$500</span>
                        <a href="{% url 'UserAccount:invest' %}" class="btn btn--border btn--center" type="button">Buy now</a>
                    </div>
                    <!-- end price -->

                    <!-- price -->
                    <div class="price">
                        <h3 class="price__title">Silver Plan</h3>
                        <div class="price__list">
                            <li><b>Minimum Deposit:</b>$1000</li>
                            <li><b>Maximum Deposit:</b>$4999</li>
                            <li><b>Duration:</b>4 Weeks</li>
                        </div>
                        <span class="price__value">$1000</span>
                        <a href="{% url 'UserAccount:invest' %}"class="btn btn--border btn--center" type="button">Buy now</a>
                    </div>
                    <!-- end price -->

                    <!-- price -->
                    <div class="price">
                        <h3 class="price__title">Gold Plan</h3>
                        <div class="price__list">
                            <li><b>Minimum Deposit:</b>$5000</li>
                            <li><b>Maximum Deposit:</b>$9999</li>
                            <li><b>Duration:</b>3 Months</li>
                        </div>
                        <span class="price__value">$5000</span>
                        <a href="{% url 'UserAccount:invest' %}" class="btn btn--border btn--center" type="button">Buy now</a>
                    </div>
                    <!-- end price -->

                    <!-- price -->
                    <div class="price">
                        <h3 class="price__title">Platinum Plan</h3>
                        <div class="price__list">
                            <li><b>Minimum Deposit:</b>$10000</li>
                            <li><b>Maximum Deposit:</b>$50000</li>
                            <li><b>Duration:</b>6 Months</li>
                        </div>
                        <span class="price__value">$10000</span>
                        <a href="{% url 'UserAccount:invest' %}" class="btn btn--border btn--center" type="button">Buy now</a>
                    </div>
                    <!-- end price -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end pricing -->

<!-- get started -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <!-- review -->
                <div class="review">
                    <h2 class="section__title">Financial strength you can depend on</h2>
                    <p class="section__text">We help your money grow by putting it to work. Not just by words. Our
                        experts ensure not only that your funds are at work, but are put in carefully planned and
                        strategically diversified trading and investment portfolio for risk management. We ensure
                        transparent returns, with favourable management fee.</p>
                </div>
                <!-- end review -->
            </div>

            <div class="col-12 col-lg-6">
                <!-- get started -->
                <div class="get-started">
                    <h3 class="get-started__title">Create Account</h3>
                    <p class="get-started__text">Trade with confidence and benefit from the reliability of a trusted
                        broker with a proven record of stability, security and strength.</p>
                    <a href="{% url 'UserAccount:register' %}" class="btn">join us</a>
                </div>
                <!-- end get started -->
            </div>
        </div>
    </div>
</section>
<!-- end get started -->
{% endblock %}