{% extends 'sitehome/index.html' %}

{% block title %}
<title>About Us – Blockstream</title>
{% endblock %}

{% block main %}
<!-- page title -->
<section class="section section--first">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <h1 class="section__title section__title--page">Documents</h1>
                <p class="section__text">Company legal documents</p>
            </div>
            <!-- end section title -->
        </div>
    </div>

    <!-- particles -->
    <div id="canvas" class="section__particles"></div>
    <!-- end particles -->
</section>
<!-- end page title -->

<!-- files -->
<section class="section">
    <div class="container">
        <div class="row row--grid">
            <div class="col-12 col-md-6 col-xl-4">
                <!-- service -->
                <div class="service">
                    <i class="ti-files"></i>
                    <h3 class="service__title">Terms of service</h3>
                    <p class="service__text">Read the terms of service and license agreement for SmartMine as well as our SmartMineApp & developer agreements.</p>
                    <a class="service__link" href="#"><i class="ti-file"></i> License agreement</a>
                    <a class="service__link" href="#"><i class="ti-file"></i> Term of services for SmartMine trade</a>
                </div>
                <!-- end service -->
            </div>

            <div class="col-12 col-md-6 col-xl-4">
                <!-- service -->
                <div class="service">
                    <i class="ti-world"></i>
                    <h3 class="service__title">Policies</h3>
                    <p class="service__text">Find out more about what information we collect at SmartMine, how we use it, and what control you have over your data.</p>
                    <a class="service__link" href="#"><i class="ti-file"></i> Privacy statement</a>
                </div>
                <!-- end service -->
            </div>

            <div class="col-12 col-md-6 col-xl-4">
                <!-- service -->
                <div class="service">
                    <i class="ti-shield"></i>
                    <h3 class="service__title">Security</h3>
                    <p class="service__text">Learn more about how we keep your work and personal data safe when you’re using our services.</p>
                    <a class="service__link" href="#"><i class="ti-file"></i> Liquid trade security</a>
                    <a class="service__link" href="#"><i class="ti-file"></i> Responsible disclosure policy</a>
                </div>
                <!-- end service -->
            </div>
        </div>
    </div>
</section>
<!-- end files -->

<!-- faq -->
<section class="section section--border-top section--border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-4">
                <div class="faq">
                    <h3 class="faq__title">How to start as a seller?</h3>
                    <p class="faq__text">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                    <p class="faq__text">Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">When and how do you get paid?</h3>
                    <p class="faq__text">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites.</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
                <div class="faq">
                    <h3 class="faq__title">What is the service fee for sellers?</h3>
                    <p class="faq__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">What is the PPS reward system?</h3>
                    <p class="faq__text">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
                <div class="faq">
                    <h3 class="faq__title">Why are you getting rejected shares?</h3>
                    <p class="faq__text">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">What happens when there are no orders?</h3>
                    <p class="faq__text">Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end faq -->
{% endblock %}