{% extends 'sitehome/index.html' %}

{% block title %}
<title>Terms and Conditions – Blockstream</title>
{% endblock %}

{% block main %}
<!-- page title -->
<section class="section section--first">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <h1 class="section__title section__title--page">Terms and Conditions</h1>
                <p class="section__text">Setting the records straight</p>
            </div>
            <!-- end section title -->
        </div>
    </div>

    <!-- particles -->
    <div id="canvas" class="section__particles"></div>
    <!-- end particles -->
</section>
<!-- end page title -->

<!-- privacy -->
<div class="section section--first section--border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-1">
                <div class="article">
                    <!-- article content -->
                    <div class="article__content">
                        <h1>Terms and condition</h1>

                        <h2>1. Objectives</h2>
                        <p>It is the goal of Blockstream, to help users enter and navigate the
                            cryptocurrency space, and provide tools to help users make their own sound decisions
                            relative to growing their wealth. Services are intended for medium- and long-term
                            investors.</p>

                        <h2>2. Activities</h2>
                        <p>2.1 Account creation</p>
                        <p>Blockstream will create the necessary crypto exchange accounts on behalf of,
                            and with permission of the user. Once account set-up is complete, users are provided with
                            the account credentials and password change instructions, at which point users will have
                            full control over their account. Users are the full and sole owner of their exchange
                            accounts and carry all responsibilities that come with opening, holding, and managing
                            such accounts.</p>
                        <p>2.2 Asset allocation</p>
                        <p>Blockstream uses dynamic, proprietary algorithms to define and perform
                            portfolio allocation, based on user input. Manual trades or transactions conducted by
                            users may limit Blockstream’s account monitoring and reporting ability.</p>
                        <p>2.3 Fund deposits and withdrawals</p>
                        <p>Users are responsible for depositing and withdrawing funds to/from their account, however
                            Blockstream will provide clear instructions on how to do so.</p>
                        <p>2.4 Account monitoring and reporting</p>
                        <p>Blockstream will continuously monitor user accounts and provide users with a
                            monthly dashboard with easy-to-understand portfolio and performance details.</p>

                        <h2>3. Fees</h2>
                        <p>3.1 Fee structure</p>
                        <p>Blockstream offers different plans: freemium, and performance fee. The freemium
                            plan is totally free and offers limited functionality.</p>
                        <p>If you choose the performance fee plan, you pay a one-off set-up fee of Eur 59, after which
                            we won’t charge you anything until you hit 10% profit. The moment that happens
                            Blockstream will charge you a 15% performance fee over the realized gains,
                            and the baseline is set to the portfolio value. For example: you invest Eur 5,000 and after
                            a while your portfolio is worth Eur 5,500 (10% profit). You will receive an invoice for the
                            amount of Eur 75 (500 profit * 15%), and the baseline is set to Eur 5,500. To hit 10% again,
                            your portfolio needs to reach Eur 6,050 (5,500 + 10%).</p>
                        <p>Our customers especially like the no-profit-no-pay model as it means that Blockstream only
                            gets paid if the customer wins. We like this also!</p>
                        <p>3.2 Promotions</p>
                        <p>Blockstream reserves the right to apply promotional discounts to the fees listed
                            under 3.1. This is completely at Crypto-Time Option Trade’s discretion.</p>
                        <p>3.3 Other fees</p>
                        <p>Blockstream does not charge any additional or hidden fees. For any transaction
                            or trading fees that may be charged by cryptocurrency exchanges and/or banks, users accept
                            full responsibility.</p>

                        <h2>4. Security</h2>
                        <p>4.1 Infrastructure</p>
                        <p>Blockstream is powered by Google Cloud. Google Cloud helps reducing the cost,
                            complexity, and risk associated with security and compliance in the cloud.</p>
                        <p>4.2 Exchanges</p>
                        <p>Blockstream thoroughly vets its partners and only works with major “top-10” exchanges. User
                            funds remain on their personal exchange account and interactions between Blockstream and
                            user accounts are performed by means of customer owned API keys. API access is limited,
                            hence in the unlikely event of a security breach, no fund withdrawal can take place.</p>

                        <h2>5. Disclaimer</h2>
                        <p>5.1 Financial advice</p>
                        <p>Blockstream does not provide financial advice. Blockstream is not a Registered Investment
                            Advisor, Broker/Dealer, Financial Analyst, Bank, Securities Broker, Commodity Trade Advisor,
                            or Financial Planner. The information provided, such as optimal fund allocation, is based on
                            user input and for information purposes only. The Information is not intended to be and does
                            not constitute financial advice or any other advice, is general in nature and not specific
                            to you. Before using Blockstream, users should seek the advice of a qualified investment
                            professional and undertake their own due diligence. Blockstream is not responsible for any
                            investment decision made by users.</p>
                        <p>5.2 Warranties</p>
                        <p>Blockstream disclaims to the full extent authorized by law any and all warranties, whether
                            express or implied, including, without limitation, any implied warranties, merchantability
                            or fitness for a particular purpose. Blockstream does not warrant that its services and
                            applications will be free of bugs, errors, viruses or other defects, nor that trade results
                            will be profitable.</p>
                        <p>5.3 Liability</p>
                        <p>In no event can Blockstream or any of its owners be liable to users or any party
                            related to users for any indirect, incidental, consequential, special, exemplary, or
                            punitive damages, lost profits, or losses, even if Blockstream has been advised of the
                            possibility of such damages. In any event, Blockstream’s total aggregate liability to users
                            for all damages of every kind and type (regardless of whether based in contract or tort)
                            shall not exceed the fees paid to Blockstream for the use of our services or
                            applications.</p>

                        <h2>6. Risks</h2>
                        <p>Investing in any asset class, including crypto currencies, holds numerous risks, for example:
                            technology risks, exchange risks, security risks, regulatory risks.  Before deciding to
                            leverage Blockstream services, users should carefully consider their investment objectives
                            and risk appetite. The possibility exists that users lose some or all of their initial
                            investment and therefore no money should be invested that users cannot afford to lose.</p>
                        <p>As with any market, for a transaction to happen it requires a seller, a buyer, and a price
                            agreement. Loss-limiting strategies such as stop-loss orders may not be effective because
                            market conditions or technological issues may make it impossible to execute stop-loss
                            orders. Blockstream is not responsible for any losses incurred as a result of using
                            Blockstream’s advisory services.</p>

                        <h2>7. Privacy</h2>
                        <p>Blockstream is fully compliant with GDPR (General Data Protection Regulation),
                            an EU regulation enforceable as of May 25, 2018. Blockstream stores the minimum possible
                            amount of user data necessary to deliver its services. Stored user data includes: name,
                            date of birth, country of residence, email address, and exchange API keys (encrypted).
                            User data will never be shared with any third party before explicit user consent. Users
                            have the right for their user data to be forgotten, which can be requested over email.</p>

                        <h2>8. Communication</h2>
                        <p>The User understands and agrees to the preceding sections. The User also agrees to the
                            following:</p>
                        <ul>
                            <li>User agrees to not hold Blockstream liable for any realized trading
                                loss in any currency or asset;</li>
                            <li>User reserves the right to stop using Blockstream at any point;</li>
                            <li>You agrees and warrants that any information provided to Blockstream is accurate and
                                complete;</li>
                            <li>User agrees that Blockstream is offering a Software as a Service (SaaS). This means
                                that Blockstream monitors user accounts on users’ behalf on exchanges that are not
                                affiliated with Blockstream;</li>
                            <li>User agrees to take full responsibility for identifying and paying any tax liabilities
                                that may exist as a result of trading, or Blockstream services in general;</li>
                            <li>Blockstream reserves the right to terminate or deny service to anyone, at any time, for
                                any reason.</li>
                        </ul>

                    </div>
                    <!-- end article content -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end privacy -->
{% endblock %}