{% extends 'useraccount/index.html' %}

{% load static %}

{% block deposit %}mm-active{% endblock %}

<!--Title Block-->
{% block title %}
<title>Confirm Deposit - Blockstream</title>
{% endblock %}
<!--End Title Block-->

<!--Main Section-->
{% block main %}
<div id="page-content-wrapper" class="dashboard-content">

    <div class="page-content inset" style="height:100vh;">
        <div class="crypto-container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="crypto-overview-wrapper">
                                <div class="col-xl-12">
                                    <marquee behavior="infinite" direction="left" style="color:blue">
                                        Invalid transaction id will cause deposit made to remain unverified
                                    </marquee>
                                    <div class="">
                                        <h2 class="crypto-stitle">Confirm Deposit Made</h2>
                                        <div class="col-xl-12">
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <div class="cfi m-2">
                                                    <label for="transaction_id">Transaction ID</label>
                                                    <input type="text" class="col-xl-3"
                                                        name="transaction_id" id="transaction_id" placeholder="Enter Transaction ID">
                                                </div>
                                                <div class="cp-btn">
                                                        <button class="cfi-button ml-4" type="submit">Submit</button>
                                                    </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--End Main Section-->
