{% extends 'useraccount/index.html' %}

{% load static %}

{% block deposit %}mm-active{% endblock %}

<!--Title Block-->
{% block title %}
<title>Deposit Fund - Blockstream</title>
{% endblock %}
<!--End Title Block-->

<!--Main Section-->
{% block main %}

<div id="page-content-wrapper" class="dashboard-content">
    <div class="page-content inset">
        <div class="crypto-container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="col-xl-12 col-lg-12">
                        <div class="pricing-single-wrapper">
                            <div class="add-new-coin-box">
                                <h2 class="crypto-stitle">Deposit Funds</h2>
                                <div class="addNewCoin-box">

                                    <form action="" class="sign__form" method="post">
                                        {% csrf_token %}
                                        <label>Fund Your Account:</label>
                                        <div class="col-xl-5">
                                            {% include 'useraccount/django_form.html' with form=form %}
                                        </div>


                                        <p style="padding:15px 0px;"><small class="ancbc">Choose Payment Method from the
                                        list below</small></p>
                                    <div>
                                        <button type="submit" class="btn-style-b-m" style="margin-right:15px;" name="mode" value="usdt">
                                            <i class="fa fa-usd" aria-hidden="true"></i>
                                            <span>USDT</span>
                                        </button>
                                        <button type="submit" class="btn-style-d-m" name="mode" value="bitcoin">
                                            <i class="fa fa-btc" aria-hidden="true"></i>
                                            <span>Bitcoin</span>
                                        </button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--End Main Section-->
