{% extends 'sitehome/signup.html' %}

{% load static %}

<!--Title Block-->
{% block title %}
<title>Forgot Password - Blockstream</title>
{% endblock %}
<!--End Title Block-->

{% block body %}

<!-- form -->
<form action="" class="sign__form">
    {% csrf_token %}
    <a href="{% url 'SiteHome:home' %}"  class="sign__logo" style="font-size:25px; color: black">
            <img src="{% static 'sitehome/icon/favicon.png' %}" alt="" style="height:60px">
            Blockstream
        </a>

    {% include 'sitehome/django_form.html' with form=form %}

    <button class="btn" type="submit">Submit</button>
</form>
<!-- end form -->
{% endblock %}

