{% extends 'useraccount/index.html' %}

{% load static %}

{% block withdraw %}mm-active{% endblock %}

<!--Title Block-->
{% block title %}
<title>Withdraw Funds - Blockstream</title>
{% endblock %}
<!--End Title Block-->

<!--Main Section-->
{% block main %}
<div id="page-content-wrapper" class="dashboard-content">

    <div class="page-content inset">
        <div class="crypto-container">
            <h2 class="crypto-stitle">Request For Withdrawal</h2>
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <div class="pricing-single-wrapper">
                                <div class="crypto-pricing-a" style="margin-top: 30px">
                                    <h2 class="crypto-stitle" align="center">BANK TRANSFER</h2>
                                    <div class="cp-price">
                                        <small>MINIMUM AMOUNT<br>
                                            <b>$100</b><br>
                                        </small>
                                        <small>MAXIMUM AMOUNT<br>
                                            <b>$500000</b><br>
                                        </small>
                                        <small>CHARGE TYPE<br>
                                            <b>Percentage</b><br>
                                        </small>
                                        <form action="" class="sign__form" method="post">
                                            {% csrf_token %}
                                            <div class="col-xl-12">
                                                {% include 'useraccount/django_form.html' with form=form %}
                                                <input type="hidden" name="mode" value="bank">
                                            </div>
                                            <div class="cp-btn">
                                        <button class="btn-style-b-m" type="submit">Request Withdrawal</button>
                                    </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="pricing-single-wrapper">
                                <div class="crypto-pricing-a" style="margin-top: 30px">
                                    <h2 class="crypto-stitle" align="center">USDT</h2>
                                    <div class="cp-price">
                                        <small>MINIMUM AMOUNT<br>
                                            <b>$100</b><br>
                                        </small>
                                        <small>MAXIMUM AMOUNT<br>
                                            <b>$500000</b><br>
                                        </small>
                                        <small>CHARGE TYPE<br>
                                            <b>Percentage</b><br>
                                        </small>
                                        <form action="" class="sign__form" method="post">
                                            {% csrf_token %}
                                            <div class="col-xl-12">
                                                {% include 'useraccount/django_form.html' with form=form %}
                                                <input type="hidden" name="mode" value="usdt">
                                            </div>
                                            <div class="cp-btn">
                                        <button class="btn-style-b-m" type="submit">Request Withdrawal</button>
                                    </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="pricing-single-wrapper">
                                <div class="crypto-pricing-a" style="margin-top: 30px">
                                    <h2 class="crypto-stitle" align="center">BITCOIN</h2>
                                    <div class="cp-price">
                                        <small>MINIMUM AMOUNT<br>
                                            <b>$100</b><br>
                                        </small>
                                        <small>MAXIMUM AMOUNT<br>
                                            <b>$500000</b><br>
                                        </small>
                                        <small>CHARGE TYPE<br>
                                            <b>Percentage</b><br>
                                        </small>
                                        <form action="" class="sign__form" method="post">
                                            {% csrf_token %}
                                            <div class="col-md-12">
                                                {% include 'useraccount/django_form.html' with form=form %}
                                                <input type="hidden" name="mode" value="bitcoin">
                                            </div>
                                            <div class="cp-btn">
                                        <button class="btn-style-b-m" type="submit">Request Withdrawal</button>
                                    </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--End Main Section-->
