<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'sitehome/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'sitehome/css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/png" href="{% static 'useraccount/assets/img/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'useraccount/assets/img/favicon.png' %}">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    {% block title %}
    {% endblock %}

</head>
<body>
<!-- sign form -->
<div class="sign">
    <!-- particles -->
    <div id="canvas" class="sign__particles"></div>
    <!-- end particles -->

    <div class="sign__content">

        <div align="center">
            <!-- Start Message area -->
            {% for message in messages %}
            {% if message.tags == "success" %}
            <article class="message is-success mt-6" id="suc-sec" style="width:250px">
                <div class="message-header">
                    <p>Success</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    <strong><em>{{ message }}</em></strong>
                </div>
            </article>
            {% else %}
            <article class="message is-danger mt-6" id="err-sec" style="width:250px">
                <div class="message-header">
                    <p>Error</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    <strong><em>{{ message }}</em></strong>
                </div>
            </article>
            {% endif %}
            {% endfor %}
            <!-- End Message area -->
        </div>
        {% block body %}
        {% endblock %}

    </div>
</div>
<!-- end sign form -->

<!-- JS -->
<script src="{% static 'sitehome/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'sitehome/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'sitehome/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'useraccount/assets/js/main.js' %}"></script>
</body>

</html>